body {
}

table
{
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

#page td {
   padding:0; margin:0;
}

#page {
   border-collapse: collapse;
}

#chat-area
{
    padding-top: 50px;
}

#new-message
{
    float:left;
    width:60%;
    margin-left:5px;
}

#send
{
    float:left;
    margin-left:5px;
}

#messages
{
    width:102%;
    list-style-type: none;
    overflow-y:scroll;
    height:650px;
}

#users
{
    list-style-type: none;
}

#user-container{
    vertical-align:top;
}

.online
{
    color: #4cff00;
    margin-right: 4px;
    font-size: 10px;
}

.online
{
    color: #4CDB2F;
    margin-right: 7px;
    font-size: 10px;
}

.offline
{
    color: #F00B0B;
    margin-right: 7px;
    font-size: 10px;
}

#message-container
{
    width: 75%;
}

.message
{
    margin-bottom: 3px;
}

ul {
    padding: 0;
    list-style-type: none;
}
